{
    "refresh_period"        : $REFRESH_PERIOD,
    "sleep_timeout"         : $SLEEP_TIMEOUT,
    "notify_period"         : $NOTIFY_PERIOD,
    "use_https"             : $HTTPS,
    "redmine_root_url"      : "$REDMINE_URL",
    "user_db_path"          : "./udb/localbase.json",
    "scenery_path"          : "./scenery.json",
    "allowed_api_functions" : [],
    "address"               : "0.0.0.0",
    "port"                  : 43210
}
